# ENV

# Hackney authorised Google user groups
GSSO_URL=
GSSO_TOKEN_NAME=tokenname
HACKNEY_JWT_SECRET=secret

### Backend API
BONUSCALC_SERVICE_API_URL=
BONUSCALC_SERVICE_API_KEY=

### Google groups
OPERATIVE_MANAGERS_GOOGLE_GROUPNAME=repairs-hub-operative-manager

### Redirect URL to run code locally
REDIRECT_URL=localhost:5000

NEXT_PUBLIC_ENV_NAME=development

### E2E
CYPRESS_GSSO_TEST_KEY=
CYPRESS_HOST=
