{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "@babel/eslint-parser",
  "plugins": ["react", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:cypress/recommended",
    "next/core-web-vitals"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@next/next/no-html-link-for-pages": "off",
    "@next/next/no-document-import-in-page": "off",
    "linebreak-style": 0,
    "require-atomic-updates": "off",
    "react/jsx-uses-vars": 2
  }
}
