version: 2.1

orbs:
  aws-cli: circleci/aws-cli@5.2.0
  aws_assume_role: lbh-hackit/aws_assume_role@0.1.0
  browser-tools: circleci/browser-tools@2.1.0
  node: circleci/node@7.1.0

executors:
  node-executor:
    docker:
      - image: cimg/node:24.11-browsers
  docker-python:
    docker:
      - image: cimg/python:3.12

references:
  workspace_root: &workspace_root '~'
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

jobs:
  install-dependencies:
    executor: node-executor
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn


  tests:
    executor: node-executor
    steps:
      - *attach_workspace
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Run Linter
          command: yarn lint
      - run:
          name: Run Tests
          command: yarn test:unit

  e2e:
    executor: node-executor
    steps:
      - *attach_workspace
      - node/install-packages:
          pkg-manager: yarn
      - browser-tools/install_chrome
      - browser-tools/install_chromedriver
      - run:
          name: Force install
          command: yarn cypress install --force
      - run:
          name: Run E2E With Lighthouse Audit
          command: |
            export NODE_OPTIONS=--openssl-legacy-provider
            yarn e2e:audit
      - store_artifacts:
          path: cypress/screenshots
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/reports

  build-deploy-staging:
    executor: node-executor
    steps:
      - *attach_workspace
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - aws-cli/install
      - run:
          name: deploy
          command: |
            export NODE_ENV=production
            export NEXT_PUBLIC_NODE_ENV=production
            export NEXT_PUBLIC_ENV_NAME=staging
            export NEXT_PUBLIC_REPAIRS_HUB_URL=https://repairs-hub-staging.hackney.gov.uk/work-orders
            export NEXT_PUBLIC_FIRST_WEEK=2021-08-02
            export NEXT_PUBLIC_OVERTIME_HOURS_TYPE_ID=400
            export NEXT_PUBLIC_OVERTIME_JOB_TYPE_ID=401
            export NEXT_PUBLIC_OVERTIME_RATE=24.34
            export NEXT_PUBLIC_OOH_ROTA_TYPE_ID=500
            export NEXT_PUBLIC_OOH_JOB_TYPE_ID=501
            export NEXT_PUBLIC_OOH_RATE=27.51
            export NEXT_PUBLIC_SENTRY_ENVIRONMENT=staging
            export NEXT_PUBLIC_SENTRY_RELEASE=$CIRCLE_SHA1
            export NEXT_PUBLIC_SENTRY_DEBUG=false
            export NODE_OPTIONS=--openssl-legacy-provider

            yarn build
            rm -rf node_modules
            cd lambda
            yarn install --production --frozen-lockfile
            cd ..
            npx --yes serverless deploy --stage staging

  build-deploy-production:
    executor: node-executor
    steps:
      - *attach_workspace
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - aws-cli/install
      - run:
          name: deploy
          command: |
            export NODE_ENV=production
            export NEXT_PUBLIC_NODE_ENV=production
            export NEXT_PUBLIC_ENV_NAME=production
            export NEXT_PUBLIC_REPAIRS_HUB_URL=https://repairs-hub.hackney.gov.uk/work-orders
            export NEXT_PUBLIC_FIRST_WEEK=2021-11-01
            export NEXT_PUBLIC_OVERTIME_HOURS_TYPE_ID=400
            export NEXT_PUBLIC_OVERTIME_JOB_TYPE_ID=401
            export NEXT_PUBLIC_OVERTIME_RATE=24.34
            export NEXT_PUBLIC_OOH_ROTA_TYPE_ID=500
            export NEXT_PUBLIC_OOH_JOB_TYPE_ID=501
            export NEXT_PUBLIC_OOH_RATE=27.51
            export NEXT_PUBLIC_SENTRY_ENVIRONMENT=production
            export NEXT_PUBLIC_SENTRY_RELEASE=$CIRCLE_SHA1
            export NEXT_PUBLIC_SENTRY_DEBUG=false
            export NODE_OPTIONS=--openssl-legacy-provider

            yarn build
            rm -rf node_modules
            cd lambda
            yarn install --production --frozen-lockfile
            cd ..
            npx --yes serverless deploy --stage production


  assume-role-staging:
    executor: docker-python
    steps:
      - checkout
      - aws_assume_role/assume_role:
          account: $AWS_ACCOUNT_STAGING
          profile_name: default
          role: 'LBH_Circle_CI_Deployment_Role'
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .aws

  assume-role-production:
    executor: docker-python
    steps:
      - checkout
      - aws_assume_role/assume_role:
          account: $AWS_ACCOUNT_PRODUCTION
          profile_name: default
          role: 'LBH_Circle_CI_Deployment_Role'
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .aws

workflows:
  continuous-delivery:
    jobs:
      - install-dependencies
      - tests:
          requires:
            - install-dependencies
      - e2e:
          requires:
            - install-dependencies
      - assume-role-staging:
          context: api-assume-role-housing-staging-context
          # requires:
          #   - tests
          #   - e2e
          # filters:
          #   branches:
          #     only: main
      - build-deploy-staging:
          requires:
            - assume-role-staging
          context:
            - 'Serverless Framework'
          # filters:
          #   branches:
          #     only: main
      # - permit-deploy-production:
      #     type: approval
      #     requires:
      #       - build-deploy-staging
      #     filters:
      #       branches:
      #         only: main
      # - assume-role-production:
      #     context: api-assume-role-housing-production-context
      #     requires:
      #       - permit-deploy-production
      #     filters:
      #       branches:
      #         only: main
      # - build-deploy-production:
      #     requires:
      #       - assume-role-production
      #     context:
      #       - "Serverless Framework"
      #     filters:
      #       branches:
      #         only: main
