@import 'lbh-frontend/lbh/all';
@import 'environments';
@import 'bonus-summary';
@import 'out-of-hours';
@import 'pay-elements';

/* Bug fixes - remove when fixed in lbh-frontend */

.lbh-tabs {
  .govuk-tabs__list-item--selected {
    margin-top: -5px;
  }

  .govuk-tabs__tab {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.lbh-back-link {
  border-bottom: 1px solid transparent;
}

.lbh-simple-pagination__link {
  padding: 15px 0px 10px 20px;

  svg {
    left: 0px;
    right: inherit;
  }
}

.lbh-simple-pagination__link--next {
  padding: 15px 20px 10px 0px;

  svg {
    left: inherit;
    right: 0px;
  }
}

/* Custom widths */

.govuk-\!-width-four-tenths {
  width: 40% !important;
}

.govuk-\!-width-three-tenths {
  width: 30% !important;
}

.govuk-\!-width-two-tenths {
  width: 20% !important;
}

.govuk-\!-width-one-tenth {
  width: 10% !important;
}

/* Table customisations */

.govuk-table-s {
  td,
  th {
    @include lbh-body-s;
  }
}

.govuk-table {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.govuk-table__foot {
  .govuk-table__cell:not(.govuk-table__cell--numeric),
  .govuk-table__header {
    border-bottom: 0;
  }
}
